#command-palette-app {
    position: relative;
}

.app-wrapper {
    position: fixed;
    top: 15vh;
    left: 50%;
    width: 100%;
    max-width: 700px;
    transform: translateX(-50%);
    z-index: 1200;
}

.app-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 1100;
}

.search-box {
    input {
        width: 100%;
        height: 40px;
    }
}

.result-item {
    color: #fff;

    &.active {
        background-color: #ccc;
    }
}